{% extends('layouts/base.min.jinja') %}
{% block page %}
<div class="container-lg">
    {% include('components/brand-header.jinja') %}
    <div class="card">
        <div class="card-body p-0">
            <div id="table-default" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><button class="table-sort" data-sort="sort-name">Name</button></th>
                            <th><button class="table-sort" data-sort="sort-city">City</button></th>
                            <th><button class="table-sort" data-sort="sort-type">Type</button></th>
                            <th><button class="table-sort" data-sort="sort-score">Score</button></th>
                            <th><button class="table-sort" data-sort="sort-date">Date</button></th>
                            <th><button class="table-sort" data-sort="sort-quantity">Quantity</button></th>
                            <th><button class="table-sort" data-sort="sort-progress">Progress</button></th>
                        </tr>
                    </thead>
                    <tbody class="table-tbody">
                        {% for credential in credentials %}
                        {% for record in credential.records %}
                        <tr>
                            <td class="sort-name">Steel Vengeance</td>
                            <td class="sort-city">Cedar Point, United States</td>
                            <td class="sort-type">RMC Hybrid</td>
                            <td class="sort-score">100,0%</td>
                            <td class="sort-date" data-date="1628122643">August 05, 2021</td>
                            <td class="sort-quantity">74</td>
                            <td class="sort-progress" data-progress="30">
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg-auto">30%</div>
                                    <div class="col">
                                        <div class="progress" style="width: 5rem">
                                            <div class="progress-bar" style="width: 30%" role="progressbar"
                                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                                                aria-label="30% Complete">
                                                <span class="visually-hidden">30% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}