{% extends('layouts/base.min.jinja') %}
{% block page %}
<div class="container-lg">
    {% include('components/brand-header.jinja') %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ credential.name }}</h3>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">{{ credential.scope.type }}</div>
                    <div class="datagrid-content"><a target="_blank" href="{{ credential.scope.id }}">{{
                            credential.scope.name }}</a></div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{{ credential.regulation.type }}</div>
                    <div class="datagrid-content"><a target="_blank" href="{{ credential.regulation.id }}">{{
                            credential.regulation.name }}</a></div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{{ credential.authority.type }}</div>
                    <div class="datagrid-content"><a target="_blank" href="{{ credential.authority.id }}">{{
                            credential.authority.name }}</a></div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{{ credential.authority.authorizedParty.type }}</div>
                    <div class="datagrid-content"><a target="_blank"
                            href="{{ credential.authority.authorizedParty.id }}">{{
                            credential.authority.authorizedParty.name }}</a></div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{{ credential.evidence[0].type }}</div>
                    <div class="datagrid-content">
                        <a target="_blank" href="{{ credential.evidence[0].id }}">{{ credential.permitNumber }}</a>
                    </div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{{ credential.issuedToParty.type }}</div>
                    <div class="datagrid-content"><a target="_blank" href="{{ credential.issuedToParty.id }}">{{
                            credential.issuedToParty.name }}</a></div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{{ credential.facility.type }}</div>
                    <div class="datagrid-content">
                        <a target="_blank" href="{{ credential.facility.id }}">{{ credential.facility.name }}</a>
                    </div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{{ credential.products[0].type }}</div>
                    <div class="datagrid-content">
                        {% for product in credential.products %}
                        <a target="_blank" href="{{ product.id }}">{{ product.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}