<div class="modal modal-blur fade" id="modal-invitation-dbc" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Presentation Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <center>
                <img src="{{ qrcode(oob_invitation_url, box_size=100) }}"
                    alt="BC Digital Business Card Presentation Request">
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn w-100" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>