{% extends('layouts/base.min.jinja') %}
{% block page %}

<div class="container">
    {% include('components/brand.jinja') %}
    {% include('pages/issuer/modal_issue_credentials.jinja') %}
    {% include('pages/issuer/modal_register_credential.jinja') %}

    <div class="card">

        <div class="card-header">
            <div>
                <div class="row align-items-center">
                    {# <div class="col-auto">
                        <span class="avatar avatar-1" style="background-image: url()"></span>
                    </div> #}
                    <div class="col">
                        <div class="card-title">
                            {{ session['issuer']['name'] }}</div>
                        <div class="card-subtitle">{{ session['email'] }}</div>
                    </div>
                </div>
            </div>
            <div class="card-actions">
                <div class="btn-list justify-content-end">
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modal-register-credential">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-2">
                            <path d="M12 5l0 14"></path>
                            <path d="M5 12l14 0"></path>
                        </svg>
                        Credential Type
                    </a>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modal-issue-credentials">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                            <path d="M13.5 6.5l4 4" />
                            <path d="M16 19h6" />
                            <path d="M19 16v6" />
                        </svg>
                        Credential Batch
                    </a>
                    <a href="{{ url_for('admin.logout') }}" class="btn">
                        Exit
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row row-cards">
        {% for credential_type in credential_types %}
        <div class="col-6">



            <a class="card card-link"
                href="{{ url_for('issuer.manage_credential_type', credential_type=credential_type.get('type')) }}">
                <div class="card-body">
                    <div class="row">
                        {# <div class="col-auto">
                            <span class="avatar avatar-2 rounded">EP</span>
                        </div> #}
                        <div class="col">
                            <div class="font-weight-medium">{{ credential_type.get('type') }} v{{
                                credential_type.get('version') }}</div>
                            <div class="text-secondary">{{ credential_type.get('extendedType') }}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}